* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.container div{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;


}

.box1 {
    background-color: aquamarine;
    width: 100%;
    min-width: 150px;
    height: 20vh;
}
.box2, .box8 {
    background-color: aquamarine;
    width: 0%;
    height: 0vh;

}
.box3 {
    background-color: salmon;
    width: 100%;
    min-width: 150px;
    height: 70vh;
}
.box4, .box5, .box9 {
    background-color: salmon;
    width: 0%;
    height: 0vh;

}

.box6 {
    background-color: greenyellow;
    width: 100%;
    min-width: 150px;
    height: 10vh;
}
.box7, .box10 {
    background-color: greenyellow;
    width: 0%;
    height: 0vh;
}
@media (min-width: 600px) {
    .box1, .box2  {
        width: 50%;
        min-width: 150px;
        height: 15vh;
    }
    .box3, .box4, .box5  {
        width: 33.33%;
        min-width: 150px;
        height: 70vh;
    }
    .box6, .box7  {
        width: 50%;
        min-width: 150px;
        height: 15vh;
    }

}
@media (min-width: 800px) {
    .box1, .box2,.box8  {
        width: 33.33%;
        min-width: 150px;
        height: 20vh;
    }
    .box3, .box4, .box5, .box9  {
        width: 25%;
        min-width: 150px;
        height: 60vh;
    }
    .box6, .box7, .box10  {
        width: 33.33%;
        min-width: 150px;
        height: 20vh;
    }

}
